@import "tailwindcss";
@config "../tailwind.config.ts";
@layer utilities {
    .input-app {
        @apply py-2 w-full rounded-xl border border-border/50 bg-surface-2 text-text text-sm outline-none focus:ring-2 focus:ring-primary/80;
    }
}
@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-4px);
    }
}
.animate-float {
    animation: float 3s ease-in-out infinite;
}
.loader-spinner {
    animation: spin 0.5s linear infinite;
}
