@import "tailwindcss";
@config "../tailwind.config.ts";
@layer utilities {
    .input-app {
        @apply py-2 w-full rounded-xl border border-border/50 bg-surface-2 text-text text-sm outline-none focus:ring-2 focus:ring-primary/80;
    }
}
